@*
    Welcome screen. Introduce yourself.
*@

<div class="text-center">
    <h1 class="display-4">Welcome to Sports Club App</h1>
    <p>Maya is writing this from Index.cshtml.</p>
</div>
<div class="golf">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
